.button {
  border: none;
  cursor: pointer;
  background: var(--prymary-bg-color);
  width: 70px;
  height: 30px;
  font-family: var(--prymary-font-family);
  font-size: var(--header-n-font-size);
  color: var(--prymary-text-color);
  border-radius: 4px;
  align-self: center;
}

.button:hover,
.button:focus {
  background-color: var(--prymary-bg-hover-color);
}

.add {
  composes: button;
  width: 120px;
}
