.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 240px;
  border: solid 1px var(--prymary-border-color);
  padding: 15px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 5px;
  font-family: var(--prymary-font-family);
  font-size: var(--header-n-font-size);
  color: var(--secondary-text-color);
}
