.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
}

.item:not(:last-child) {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgb(100, 88, 67);
  padding: 5px;
  border-radius: 10px;
}

.active {
  composes: link;
  color: rgb(228, 140, 40);
}

.link:hover,
.link:focus {
  outline-style: none;
  background-color: rgb(235, 208, 183);
}
