.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
}

.item:not(:last-child) {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  font-family: var(--prymary-font-family);
  font-size: var(--header-l-font-size);
  font-weight: 400;
  color: var(--prymary-text-color);
  padding: 5px;
  border-radius: 10px;
}

.active {
  composes: link;
  color: var(--prymary-hover-color);
}

.link:hover,
.link:focus {
  outline-style: none;
  background-color: var(--prymary-bg-hover-color);
}
