.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: var(--prymary-text-color);
  font-family: var(--prymary-font-family);
  font-size: var(--header-n-font-size);
  letter-spacing: 0.8px;
  margin-right: 45px;
}

.userName {
  color: rgb(224, 194, 22);
  padding-left: 10px;
  font-weight: 600;
}

.btn {
  background-color: inherit;
  border: none;
  font-family: var(--prymary-font-family);
  font-size: var(--header-l-font-size);
  font-weight: 600;
  color: var(--prymary-text-color);
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.btn:hover,
.btn:focus {
  background-color: var(--prymary-bg-hover-color);
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:not(:last-child) {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  font-family: var(--prymary-font-family);
  font-size: var(--header-l-font-size);
  font-weight: 400;
  color: var(--prymary-text-color);
  padding: 5px;
  border-radius: 10px;
}

.active {
  composes: link;
  color: var(--prymary-hover-color);
}

.link:hover,
.link:focus {
  outline-style: none;
  background-color: var(--prymary-bg-hover-color);
}
