.section {
  padding: 0 40px;
}

.title {
  font-family: var(--prymary-font-family);
  letter-spacing: 0.5px;
  line-height: 1.3;
  font-size: var(--header-l-font-size);
  color: var(--secondary-text-color);
  position: relative;
}

.title::after {
  content: '';
  background-color: rgb(226, 141, 13);
  height: 2px;
  width: 35px;
  border-radius: 1px;
  transition: backdround-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
}
