@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--prymary-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Colors*/
  --prymary-bg-color: linear-gradient(
    90deg,
    rgba(12, 8, 3, 0.7) 20%,
    rgba(136, 82, 32, 0.7) 90%
  );
  --prymary-hover-color: rgb(255, 255, 255);
  --prymary-text-color: rgb(226, 141, 13);
  --prymary-bg-hover-color: rgb(102, 73, 45);

  /* Text*/
  --prymary-font-family: 'Roboto', sans-serif;
  --header-l-font-size: 20px;
  --header-n-font-size: 16px;
  --header-s-font-size: 14px;
}
